@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model PagerApp.MVC.Models.NoteFormViewModel

<div class="container" id="edit">
    <form method="post" class="form">
        <table>
            <tr>
                <td><h3>Редактирование заметки</h3></td>
            </tr>
            <tr>
                <td><br /><label class="text-primary">Заголовок заметки:</label></td>
            </tr>
            <tr>
                <td><input type="text" name="Title" value="@Model.Title" class="text-body input-group" /></td>
            </tr>
            <tr>
                <td><br /><label class="text-primary">Описание заметки:</label></td>
            </tr>
            <tr>
                <td><textarea name="Description" class="text-body input-group">@Model.Description</textarea></td>
            </tr>
            <tr>
                <td>
                    <br /><input type="submit" value="Сохранить" class="btn btn-success" />
                </td>
            </tr>
        </table>
    </form>
</div>

